body {
  background: url(images/background.jpg);
	background-size: cover;
  background-repeat: no-repeat;
	color: white;
  text-align: center;
}

a {
	color: white;
	display: block;
}

li {
  text-align: left;
}

header {
	height: 100px;
	background-color: rgba(255,255,255,.5);
	padding-top: 1em;
	padding-left: 2em;
  text-align: left;
}

footer {
	height: 75px;
	background-color: rgba(255,255,255,.3);
	padding-top: 1em;
	padding-left: 2em;
	padding-right: 2em;
}

footer p {
	float: right;
}

.wrapper {
	width: 700px;
	margin: auto;
	padding: 1em;
}

img {
	width: 100%;
}
