body {
  background-color: #e3e3e3;
}
​
.wrapper {
  width: 1600px;
  margin: auto;
  background-color: #fff;
}
​
.logo {
  margin: left;
  text-align: left;
  margin-bottom: 50px;
  padding-top: 50px;
}
​
.kicker {
  width: 600px;
  padding-bottom: 10px;
  font-size: 20px;
  line-height: 31px;
  color: #2a2a2a;
  font-family: 'Roboto',
}
​
ul {
  list-style: none;
  text-align: center;
  background-color: red;
  color: red;
  height: 45px;
  text-decoration: none;
  font-size: 20px;
  font-family:  'Roboto';
  margin: auto;
  word-spacing: 50px;
}
​
li {
    display: inline;
}
​
li a {
    display: inline;
    text-align: left;
    text-decoration: none;
}
​
a:hover:not(.active) {
    color: fff;
    text-decoration: underline;
}
​
.row:after {
  content: " ";
  display: table;
  clear: both;
}
​
.one {
  float:left;
  width:727px;
  height:377px;
  background-color: #404040;
  color: #ffff;
  padding: px;
}
​
.two {
  float:left;
  width:430px;
  height:377px;
  background-color: red;
  position: relative;
}
​
.three {
  float:left;
  width:284px;
  height:377px;
  background-color: blue;
  position: relative;
}
​
#nav_lines{
	padding: 0px 0px 10px;
	text-align: center;
}
​
