@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:400,700);

body {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 1.5rem;

}

img, embed, object, video {
  width: 100%;
  height : auto;
}

.logo a {
  text-decoration: none;
  letter-spacing: .1rem;
  color: #2f4e93;
}

.logo a:hover {
  color: #ab9c40
}


/* -------- =Structure -------*/
.wrapper {
  width: 980px;
  margin: auto;
}


/* ----- =navigation ----- */
nav {
    height: 60px;
    background-color: #2f4e93;
}

#top-nav {
  float: right;
}
#top-nav ul {
  margin: 0;
  margin-right: 50px;
  padding: 0;
  list-style: none;
}
#top-nav ul li {
  float: left;
  display: block;
  padding: 17px 15px 12px 15px;
}
#top-nav ul li a {
  font-size: 1.25rem;
  font-weight: normal;
  letter-spacing: .25rem;
  color: #fff;
  text-decoration:none;
}
#top-nav ul li a:hover {
  color: #ab9c40;
}

footer  {
  height: 60px;
  background-color: #2f4e93;
}

/* -------- =body --------*/

img {
  margin-top: 21.44px;
}

.fa {
  font-size: 10rem;
  letter-spacing: 5rem;
  color: #2f4e93;

}
.fa:hover {
  color: #ab9c40;
}




/* -------- =Column Layout -------*/

  .one_fourth {   width:220px;  }
  .one_third {    width:300px;  }
  .one_half {     width:460px;  }
  .two_third {    width:620px;  }
  .three_fourth { width:700px;  }
  .full_column {  width: 940px; }

  .one_half,
  .one_third,
  .two_third,
  .three_fourth,
  .one_fourth,
  .full_column {
    float:left;
    margin-left:20px;
    margin-bottom:20px;
  }

/* -- Clearfix -- */
  .row:after {
    content: " ";
    display: table;
    clear: both;
  }
